<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>Validate Email App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/680fcb47ef.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono&display=swap" rel="stylesheet">
    <style>        h2 {
        font-family: 'DM Mono', monospace;
    }

    button .spinner-border {
        display: none;
    }

    button.loading {
        pointer-events: none;
    }

    button.loading i {
        display: none;
    }

    button.loading .spinner-border {
        display: inline-block;
    }    </style>
</head>
<body>
<div id="app" class="container w-50">
    <div class="mx-auto my-5"><h2><i class="fas fa-envelope"></i> Subscribe to our Newsletter</h2>
        <form id="sfmc-form" class="needs-validation my-4" ref="form" action="" method="post" novalidate>
            <div class="row">
                <div class="col-12 mb-2 input-group-lg"><input id="email" class="form-control" type="email"
                                                               maxlength="254" placeholder="Your email..." required
                                                               aria-describedby="validationEmail">
                    <div class="valid-feedback"> Looks good!</div>
                    <div id="validationEmail" class="invalid-feedback order-last"> Please enter a valid email address.
                    </div>
                </div>
                <div class="col-12 mt-2 input-group-lg">
                    <button id="btn" class="btn btn-primary px-5"><i class="fas fa-arrow-right"></i>
                        <div class="spinner-border spinner-border-sm mb-1" role="status"><span class="visually-hidden">Loading...</span>
                        </div>
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var form = document.getElementById("sfmc-form");
    var email = document.getElementById("email");
    var button = document.getElementById("btn");

    email.addEventListener('change', function (event) {        /* If the value changes, remove validation */
        this.classList.remove("is-invalid");
        this.setCustomValidity("");
    }, false);

    email.addEventListener('blur', function (event) {        /* If the blur event click is not on the submit button, validate the email */
        if (event.relatedTarget != button) checkEmailValidity(this);
    }, false);
    form.addEventListener('submit', async function (event) {
        event.preventDefault();
        form.classList.add('was-validated');
        if (!form.checkValidity() || await checkEmailValidity(email) === false) {
            console.error("form is invalid");
        } else {
            form.submit();
        }
    }, false);

    async function checkEmailValidity(el) {
        button.classList.add('loading');
        var valid = await validateEmail(el.value);
        if (valid) {
            el.classList.add("is-valid");
            el.classList.remove("is-invalid");
            el.setCustomValidity("");
        } else {
            el.classList.remove("is-valid");
            el.classList.add("is-invalid");
            el.setCustomValidity("invalid");
        }
        button.classList.remove('loading');
        return valid;
    }

    async function validateEmail(val) {
        var result = await fetch('{{ SFMC SERVER PAGE URL }}', {
            method: 'post',
            body: JSON.stringify({email: val})
        }).then(function (res) {
            return res.json();
        }).then(function (json) {
            if (json.message != null) validationEmail.textContent = json.message;
            return (json.status == 'OK');
        });
        return result;
    }</script>
</body>
</html>