<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous"></script>
    <script src="/js/modal.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>List employees</h1>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Dob</th>
            <th>Department</th>
            <th>Hired</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="emp: ${emps}">
            <td th:text="${emp.id}"></td>
            <td th:text="${emp.name}"></td>
            <td th:text="${emp.dob}"></td>
            <td th:text="${emp.department}"></td>
            <td><input type="checkbox" disabled th:checked="${emp.hired}"/></td>
            <td>
                <a
                        th:href="@{/v2/emps/{id}/edit(id = ${emp.id})}"
                        class="btn btn-success"
                >Edit</a>
                <button
                        class="btn btn-danger"
                        th:id="${emp.id}"
                        th:name="${emp.name}"
                        data-bs-toggle="modal"
                        data-bs-target="#confirmDelete"
                >
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm delete</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you want to delete?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a th:href="@{/v2/emps/id/delete}" id="confirmDeleteBtn" class="btn btn-primary">OK</a>
                </div>
            </div>
        </div>
    </div>
    <a th:href="@{/v2/emps/add}"
       class="btn btn-success col-lg-12">New Employee</a>
</div>
</body>
</html>
